# IntelliJ
/.idea
.DS_Store

# nx
.nx/cache

# TypeScript
next-env.d.ts

# dependencies
node_modules

# Terraform
.terraform
.terraform.lock.hcl
inputs.tfvars

# compiled output
dist
.next

# Testing
coverage
firebase-debug.log
ui-debug.log
