# See http://help.github.com/ignore-files/ for more about ignoring files.

# IntelliJ
/.idea
.DS_Store

# nx
.nx/cache

# TypeScript
next-env.d.ts

# dependencies
node_modules

# compiled output
dist
.next
